/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media screen and (max-width: 1200px) {

}

//

/* Medium Devices, Desktops */
@media (max-width: 992px) {
  .header {
    a {
      font-size: 16px;
    }
    .header_menu_name {
      .h1 {
        padding-top: 10px;
        font-size: 16px;
      }
    }
    .header_contacts {
      text-align: left;
      span {
        font-size: 16px;
      }
    }
    .header_menu {
      ul {
        li {
          font-weight: bold;
          margin-right: 2%;
          font-size: 18px;
        }
      }
    }
  }
  .content {
    .blok_form {
      .form {
        span {
          font-size: 20px;
          padding-top: 90px;
        }
      }
    }
    .banner_fon {
      .h2 {
        font-size: 30px;
      }
      .h3 {
        padding-top: 5px;
        font-size: 22px;
      }
      .banner_bloks {
        span {
          font-size: 18px;
        }
        img {
          padding: 5px;
        }
        .my-hover {
          display: block;
          height: 350px;
          padding: 5px;
        }
        .my-hidden {
          &:hover {
            span {
              font-size: 22px;
            }
            .btn {
              margin-top: 20px;
              font-size: 18px;
            }
          }
        }
      }
    }
    .work {
      .h2 {
        margin: 40px;
      }
      .icon {
        padding: 10px;
      }
      span {
        font-size: 16px;
      }
    }
  }
  .footer {
    .h3 {
      text-align: center;
    }
    ul {
      li {
        text-align: center;
        font-size: 16px;
        a {
          font-size: 16px;
        }
      }
    }
  }
}

//

/* Small Devices, Tablets */
@media screen and (max-width: 768px) {
  .header {
    .header_logo {
      margin-top: 35px;
    }
    .header_menu_name {
      .h1 {
        text-align: center;
      }
    }
    .header_contacts {
      text-align: center;
    }
  }
  .content {
    .banner {
      .title {
        .h2 {
          font-size: 30px;
        }
      }
    }
    .speakers {
      font-size: 18px;
    }
    .blok_form {
      .form {
        .btn {
          font-size: 24px;
        }
      }
    }
    .banner_fon {
      .my-hidden {
        display: block;
        margin-left: auto;
      }
    }
    .work {
      .h2 {
        display: block;
        margin: 10px;
        font-size: 26px;
      }
      .icon {
        span {
          display: block;
          font-size: 12px;
        }
      }
    }
    .reviews {
      .h2 {
        display: block;
        font-size: 28px;
      }
      .h3 {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
//

/* Extra Small Devices, Phones */
@media (max-width: 480px) {
  .content {
    .banner {
      .title {
        .h2 {
          font-size: 20px;
        }
        .btn {
          width: 250px;
          height: 80px;
          font-size: 16px;
        }
      }
    }
    .speakers {
      font-size: 12px;
      .h2 {
        font-size: 20px;
      }
      span {
        display: block;
        margin: 40px 0px 20px;
      }
      .column_green {
        .btn {
          width: 140px;
          font-size: 12px;
        }
      }
      .column_red {
        .btn {
          width: 140px;
          font-size: 12px;
        }
      }

    }
    .blok_form {
      .form {
        input {
          font-size: 18px;
        }
        .btn {
          font-size: 18px;
          width: 248px;
        }
      }
    }
    .banner_fon {
      .h2 {
        display: block;
        font-size: 20px;
      }
      .banner_bloks {
        .h3 {
          display: block;
          font-size: 20px;
        }
        .span {
          font-size: 18px;
          display: block;
        }
        margin: 15px 0 -8px;
      }
    }
    .consultation {
      .h2 {
        display: block;
        font-size: 20px;
      }
      span {
        font-size: 16px;
      }
      .btn {
        font-size: 18px;
        width: 250px;
      }
    }
    .reviews {
      .btn {
        font-size: 18px;
        width: 300px;
      }
    }
  }
}
//

/* Custom, iPhone Retina */
@media(max-width: 320px) {
}

/**/