@import "var";

body {

}

.header {
  padding: 20px 0;
  .header_contacts {
    text-align: right;
    a {

      display: block;
      color: #000000;
      font-size: 18px;
    }
    p {
      line-height: 6px;
      padding-top: 33px;
      font-size: 20px;
    }
  }
  .header_meny_mane {
    h1 {
      padding-top: 25px;
      font-size: 18px;
    }
  }
  .header_logo {
    a {
      img {
        margin: auto;
        display: block;
        width: 155px;
        height: 126px;
      }
    }
  }
  .header_meny {
    ul {
      li {
        float: left;
        margin-right: 10%;
        padding-top: 47px;
        font-size: 24px;
        a {
          color: #000000;
        }
      }
    }

  }
}

.content {
  .banner {
    padding-top: 5%;
    background-image: url(../images/banner1.png);
    height: 492px;
    width: 100%;
    background-position: 50%;
    .title {
      button {
        margin-top: 5%;
        background-color: #FFFF89;
        border-radius: 0;
        width: 340px;
        height: 80px;
        font-size: 28px;
        padding: 18px 12px;
      }
      button:hover {
        text-decoration: none;
        background-color: #8A0714;
        color: #FFFFFF;
      }
      p {
        font-size: 35px;
        color: #ffffff;
      }
      h2 {
        line-height: 150%;
        font-size: 40px;
        color: #FFFFFF;
      }
    }
  }
  .speakers {
    h2 {
      font-size: 36px;
      text-align: center;
      margin: 50px 50px;
    }
    .column_red {
      background-color: #8A0714;
      height: 291px;
      color: #FFFFFF;
      font-size: 20px;
      text-align: center;
      padding-top: 7%;

      button {
        margin: 20px;
        border: 1px solid #FFFFFF;
        border-radius: 0px;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 20px;
        padding: 15px 15px;
      }
    }
    .column_green {
      display: block;
      background-color: #001D03;
      height: 291px;
      color: #ffffff;
      font-size: 20px;
      text-align: center;
      padding-top: 7%;

      button {
        margin: 20px;
        border: 1px solid #FFFFFF;
        border-radius: 0px;
        background-color: transparent;
        color: #FFFFFF;
        font-size: 20px;
        padding: 15px 15px;
      }
    }
    .column_img {
      height: 291px;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .blok_form {
    padding-left: 0;
    padding-right: 0;
    .form {
      text-align: center;
      display: block;
      height: 369px;
      background: url('../images/wings1.png') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100%;
      margin-top: -11px;
      p {
        padding-top: 5%;
        text-align: center;
        font-size: 28px;
        z-index: 2;
      }
      input {
        margin-left: 13px;
        margin-right: 13px;
        margin-top: 20px;
        text-align: center;
        background-color: #FFFFFF;
        border: 1px solid #5e5e5e;
        border-radius: 0;
        width: 190px;
        height: 50px;
        font-size: 20px;
        padding: 18px 12px;
      }
      button {
        margin-top: 20px;
        background-color: transparent;
        border: 1px solid #8A0714;
        border-radius: 0;
        width: 410px;
        height: 70px;
        font-size: 28px;
      }
    }
  }
  .banner_fon {
    background-image: url(../images/banner2.png);
    height: 920px;
    width: 100%;
    background-position: 50%;
    p {
      text-align: center;
      font-size: 30px;
      color: #FFFFFF;
    }

    .banner_bloks {
      width: 32%;
      display: inline-block;
      overflow: hidden;
      background-color: #8A0714;
      margin: 5px 5px;
      p {
        font-size: 20px;
      }
      img {
        padding-bottom: 25px;
        padding-top: 25px;

      }
      .my-hidden {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding-top: 130px;
        color: #8a0714;
        opacity: 0;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        &:hover {
          p {
            font-size: 26px;
            color: #8A0714;
          }
          .btn {
            background-color: transparent;
            border: 2px solid #8A0714;
            border-radius: 0;
            width: 65%;
            height: 70px;
            font-size: 20px;
          }
          .btn:hover {
            color: #ffffff;
            background-color: #8A0714;
            text-decoration: none;
          }
          opacity: 1;
          top: 0;
        }
      }
      .my-hover {
        display: block;
        height: 350px;
        padding: 0 25px;
      }
    }
  }
}

@import "media";